<div class="wrapper" id="single-post">
  <h1>{{post.title}}</h1>
  <h3>Category: {{post.category}}</h3>
  <h4>{{post.date}}</h4>
  <img src="/image/uploads/{{post.mainImageName}}" alt="">
  <p>{{post.body}}</p>
</div>